T1- OddEven/evenodd.json
[
    {
        "id": "eb5ad423c8fbc05f",
        "type": "serial in",
        "z": "58d163b8c6dfbfe1",
        "name": "ESP32 Serial Port",
        "serial": "fdf528aa7c448b35",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "4911ad2980dc5857"
            ]
        ]
    },
    {
        "id": "3872072e6dc7b89f",
        "type": "function",
        "z": "58d163b8c6dfbfe1",
        "name": "OddEven",
        "func": "if(msg.payload===\"odd\")\n{\nmsg.data={flag:msg.payload, number}\n}\nelse if(msg.payload===\"even\")\n{\nmsg.data={flag:msg.payload, number}\n}\nelse\n{\nnumber=Number(msg.payload)\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 260,
        "wires": [
            [
                "d3e90b530c6fd0ed"
            ]
        ]
    },
    {
        "id": "4911ad2980dc5857",
        "type": "function",
        "z": "58d163b8c6dfbfe1",
        "name": "Trim",
        "func": "msg.payload = msg.payload.trim();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 220,
        "wires": [
            [
                "3872072e6dc7b89f"
            ]
        ]
    },
    {
        "id": "0ecb86781f8f4b49",
        "type": "debug",
        "z": "58d163b8c6dfbfe1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "data",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 220,
        "wires": []
    },
    {
        "id": "d3e90b530c6fd0ed",
        "type": "switch",
        "z": "58d163b8c6dfbfe1",
        "name": "",
        "property": "data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 260,
        "wires": [
            [
                "0ecb86781f8f4b49"
            ]
        ]
    },
    {
        "id": "fdf528aa7c448b35",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]