T7-SoftSerial/softserial.json
[
    {
        "id": "39208d514a108307",
        "type": "serial in",
        "z": "b3cdfc37265dba24",
        "name": "ESP32 Serial Port",
        "serial": "fdf528aa7c448b35",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "4884701d7382841f"
            ]
        ]
    },
    {
        "id": "9974554d85be1c0c",
        "type": "function",
        "z": "b3cdfc37265dba24",
        "name": "OddEven",
        "func": "if(msg.payload===\"odd\")\n{\nmsg.data={flag:msg.payload, number}\n}\nelse if(msg.payload===\"even\")\n{\nmsg.data={flag:msg.payload, number}\n}\nelse\n{\nnumber=Number(msg.payload)\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 320,
        "wires": [
            [
                "901de67176cd2333"
            ]
        ]
    },
    {
        "id": "4884701d7382841f",
        "type": "function",
        "z": "b3cdfc37265dba24",
        "name": "Trim",
        "func": "msg.payload = msg.payload.trim();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "9974554d85be1c0c"
            ]
        ]
    },
    {
        "id": "c51cc35f8fda1a6e",
        "type": "debug",
        "z": "b3cdfc37265dba24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "data",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "901de67176cd2333",
        "type": "switch",
        "z": "b3cdfc37265dba24",
        "name": "",
        "property": "data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 320,
        "wires": [
            [
                "c51cc35f8fda1a6e",
                "63646d83a826a42e",
                "0ccb287c06a41476"
            ]
        ]
    },
    {
        "id": "63646d83a826a42e",
        "type": "ui_text",
        "z": "b3cdfc37265dba24",
        "group": "d7b74e7766b2aae6",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Flag",
        "label": "Flag",
        "format": "{{msg.data.flag}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 360,
        "wires": []
    },
    {
        "id": "0ccb287c06a41476",
        "type": "ui_text",
        "z": "b3cdfc37265dba24",
        "group": "d7b74e7766b2aae6",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Number",
        "label": "Number",
        "format": "{{msg.data.number}}",
        "layout": "row-spread",
        "className": "",
        "x": 660,
        "y": 320,
        "wires": []
    },
    {
        "id": "578cd1a7879e3ad2",
        "type": "serial out",
        "z": "b3cdfc37265dba24",
        "name": "ESP32 Serial Port",
        "serial": "fdf528aa7c448b35",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "30b6a7b3d2a94098",
        "type": "debug",
        "z": "b3cdfc37265dba24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 380,
        "wires": []
    },
    {
        "id": "4fa0b13bc6242f50",
        "type": "ui_slider",
        "z": "b3cdfc37265dba24",
        "name": "Intensity Slider",
        "label": "Intensity Slider",
        "tooltip": "",
        "group": "d7b74e7766b2aae6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 300,
        "y": 420,
        "wires": [
            [
                "578cd1a7879e3ad2",
                "30b6a7b3d2a94098"
            ]
        ]
    },
    {
        "id": "2cb7da31f9eb242f",
        "type": "ui_text_input",
        "z": "b3cdfc37265dba24",
        "name": "Intensity Input",
        "label": "Intensity Input",
        "tooltip": "",
        "group": "d7b74e7766b2aae6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 300,
        "y": 380,
        "wires": [
            [
                "578cd1a7879e3ad2",
                "30b6a7b3d2a94098"
            ]
        ],
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "fdf528aa7c448b35",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "d7b74e7766b2aae6",
        "type": "ui_group",
        "name": "SoftwareSerial",
        "tab": "08d00e0951b9a3d3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "08d00e0951b9a3d3",
        "type": "ui_tab",
        "name": "SoftwareSerial",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]