T2- OddEvenJSON/evenoddJson.json
[
    {
        "id": "eb5ad423c8fbc05f",
        "type": "serial in",
        "z": "58d163b8c6dfbfe1",
        "name": "ESP32 Serial Port",
        "serial": "fdf528aa7c448b35",
        "x": 210,
        "y": 80,
        "wires": [
            [
                "4911ad2980dc5857"
            ]
        ]
    },
    {
        "id": "4911ad2980dc5857",
        "type": "function",
        "z": "58d163b8c6dfbfe1",
        "name": "Trim",
        "func": "msg.payload = msg.payload.trim();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 40,
        "wires": [
            [
                "b0bcd2f20b38e2bc"
            ]
        ]
    },
    {
        "id": "0ecb86781f8f4b49",
        "type": "debug",
        "z": "58d163b8c6dfbfe1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 120,
        "wires": []
    },
    {
        "id": "e107660e8405e834",
        "type": "ui_text",
        "z": "58d163b8c6dfbfe1",
        "group": "d7b74e7766b2aae6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Flag",
        "label": "Flag",
        "format": "{{msg.payload.flag}}",
        "layout": "row-spread",
        "className": "",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "59364d1f2a06c892",
        "type": "ui_text",
        "z": "58d163b8c6dfbfe1",
        "group": "d7b74e7766b2aae6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Number",
        "label": "Number",
        "format": "{{msg.payload.count}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 40,
        "wires": []
    },
    {
        "id": "b0bcd2f20b38e2bc",
        "type": "json",
        "z": "58d163b8c6dfbfe1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 40,
        "wires": [
            [
                "59364d1f2a06c892",
                "e107660e8405e834",
                "0ecb86781f8f4b49"
            ]
        ]
    },
    {
        "id": "fdf528aa7c448b35",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "d7b74e7766b2aae6",
        "type": "ui_group",
        "name": "Odd or Even",
        "tab": "f56dcd513927ea2d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f56dcd513927ea2d",
        "type": "ui_tab",
        "name": "Odd or Even",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]