T3- SwitchLED/ledswitch.json
[
    {
        "id": "47207cf76d12b981",
        "type": "ui_button",
        "z": "58d163b8c6dfbfe1",
        "name": "High",
        "group": "d7b74e7766b2aae6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "High",
        "tooltip": "",
        "color": "white",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "power",
        "topicType": "msg",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "dc3769e405b793fa",
                "da8f99e112820657"
            ]
        ]
    },
    {
        "id": "45266e61451c2a6a",
        "type": "ui_button",
        "z": "58d163b8c6dfbfe1",
        "name": "Low",
        "group": "d7b74e7766b2aae6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Low",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "power",
        "topicType": "msg",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "dc3769e405b793fa",
                "da8f99e112820657"
            ]
        ]
    },
    {
        "id": "dc3769e405b793fa",
        "type": "serial out",
        "z": "58d163b8c6dfbfe1",
        "name": "ESP32 Serial Port",
        "serial": "fdf528aa7c448b35",
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "da8f99e112820657",
        "type": "debug",
        "z": "58d163b8c6dfbfe1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "d7b74e7766b2aae6",
        "type": "ui_group",
        "name": "ESP32 BuiltIn LED",
        "tab": "08d00e0951b9a3d3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fdf528aa7c448b35",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "bin",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "08d00e0951b9a3d3",
        "type": "ui_tab",
        "name": "Switch LED",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]